<button (click)="getAllPlaylists()">Click me</button>
<!--<button (click)="getMyInfo()">myInfo </button>-->
<button (click)="loginOn()">login me</button>
<button (click)="click()">uberClicker</button>
<div *ngIf="user">
    <p>{{this.user.country}}</p>
    <p>{{this.user.email}}</p>
    <p>{{this.user.display_name}}</p>
</div>
